<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noveogroup.screen_shot_report">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".activities.PrepareDataActivity"
            android:process=":screen_shot_report"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.ComposeMessageActivity"
            android:process=":screen_shot_report"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.CrashReportActivity"
            android:process=":screen_shot_report"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name=".activities.RedMineActivity"
            android:process=":screen_shot_report"
            android:theme="@style/Theme.AppCompat" />

        <provider
            android:name=".ContentProvider"
            android:authorities="com.noveogroup.screen_shot_report.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

    </application>

</manifest>
